{% extends "layout.html" %}

{% block title %}
<h3 class="text-muted">BlueCap</h3>
{% endblock %}

{% block corps %}
      <div class="jumbotron">
        <h2>Enregistrement d'un Raspberry</h2>
      
        <form class="form">
            
        <label for="inputId" class='label required'></label>
        <input type="pays" name="inputId" id="inputId" class='text-input' placeholder="Id du Raspberry" required autofocus>

        <label for="inputEmail" class='label required'></label>
        <input type="pays" name="inputCountry" id="inputCountry" class='text-input' placeholder="Pays" required autofocus>
        
        <label for="inputEmail" class='label required'></label>
        <input type="ville" name="inputCity" id="inputCity" class='text-input' placeholder="Ville" required autofocus>
        
        <label for="inputEmail" class='label required'></label>
        <input type="batiment" name="inputBuilding" id="inputBuilding" class='text-input' placeholder="Batiment" required autofocus>

        <label for="inputEmail" class='label required'></label>
        <input type="etage" name="inputFloor" id="inputFloor" class='text-input' placeholder="Etage" required autofocus>

        <label for="inputEmail" class='label required'></label>
        <input type="room" name="inputBench" id="inputBench" class='text-input' placeholder="Nom du bench/salle/bubble" required autofocus>
            
        <label for="inputEmail" class='label required'></label>
        <input type="desks" name="inputDesks" id="inputDesks" class='text-input' placeholder="Nombre de postes de la pièce ou du bench" required autofocus>    
            
        <button id="btnAddRasp" class="button" type="button">Ajouter</button>      
        </form>          
          
	   </div>    
{% endblock %}