{% extends "layout.html" %}

{% block title %}
<h3 class="text-muted">BlueCap</h3>
{% endblock %}

{% block corps %}
<div>   
    <h2>Taux d'occupation actuel des benchs</h2>
    {{ res }}
</div>

  <div id="demo">
  <h2>Liste des raspberry</h2>

  <div class="table-responsive-vertical shadow-z-1">
  <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
       
        <tr>
        <th>Date d'ajout</th>
        <th>Id</th>
        <th>Adresse MAC</th>
        <th>Pays</th>
        <th>Ville</th>
        <th>Batiment</th>
        <th>Etage</th>
        <th>Bench</th>
        <th>Nb de postes</th>
        </tr>
      </thead>
      <tbody>
          {% for row in data %}
          <tr>
            {% for d in row %}
            <td>{{ d }}</td>
            {% endfor %}
          </tr>
    {% endfor %}
                <tr>
        </tr>
      </tbody>
    </table> 
      
  </div>
</div> 

{% endblock %}

