{% extends "layout.html" %}

{% block title %}
<h3 class="text-muted">BlueCap</h3>
{% endblock %}

{% block corps %}
<div>   
    <h2>Taux d'occupation actuel des benchs</h2>

  <div class="table-responsive-vertical shadow-z-1">
  <table id="table" class="table table-hover table-mc-light-blue">
        {% for key, value in res.items() %}
        <tr>
        <th> {{ key }} </th>
        <th> {{ value }} </th>
        </tr>
        {% endfor %}
    </table>
    
    
</div>
</div>
{% endblock %}

