{% extends "layout.html" %}

{% block title %}
<h3 class="text-muted">BlueCap</h3>
{% endblock %}

{% block corps %}
<div> 
    
    <h2>Taux d'occupation actuel des benchs</h2>

<script>
for (var j = 1; j <= 50; j += 10) {    
var pie = new d3pie("pieChart", {
	"size": {
		"canvasHeight": 200,
		"canvasWidth": 200,
		"pieOuterRadius": "100%"
	},
	"data": {
		"content": [
			{
				"label": "",
				"value": j,
				"color": "#2383c1"
			},
			{
				"label": "",
				"value": 100-j,
				"color": "#64a61f"
			}
		]
	},
	"effects": {
		"load": {
			"speed": 500
		},
	}
});
}
</script>
    
</div>
{% endblock %}