{% extends "layout.html" %}

{% block title %}
<h3 class="text-muted">BlueCap</h3>
{% endblock %}

{% block corps %}
<!DOCTYPE html>

<script src="//d3js.org/d3.v4.min.js"></script>
<script src="js/d3pie.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="query.js"></script>
  
<!-- PIECHART -->    
<div id="assetid"></div>
    
<div id="pieChart"></div>   
 
<script>
        
//SELECT asset_id FROM references.units WHERE data_type = ‘ble_counter’ ;    
var sensor  = ["FR-NTE-BER-5M050", "FR-NTE-BER-LISTZ", "FR-NTE-BER-5M130","FR-NTE-BER-TEST"];
    
//SELECT value FROM live_data.info_perhour WHERE assetid='FR-NTE-BER-LISTZ';     
var percent = [55,10,24,37]    
    
var pie1 = new d3pie("pieChart", {
	"header": {
		"title": {
            "text" : sensor[0],
			"fontSize": 24,
			"font": "lucida sans"
		},
	},
	"size": {
		"canvasHeight": 300,
		"canvasWidth": 300,
		"pieOuterRadius": "90%",
        "pieInnerRadius": "50%"
	},
	"data": {
		"sortOrder": "value-desc",
		"content": [
			{
				"value": percent[0],
				"color": "#4caa4a"
			},
			{
				"value": 100-percent[0],
				"color": "#dd1c1c"
			}
		]
	},
	"labels": {
        "outer": {
			"format": "none"
		},
        "percentage": {
			"color": "#ffffff",
			"fontSize": 14,
            "font": "lucida sans"
		},
	},
	"effects": {
		"load": {
			"speed": 800
		},
	}
});

var pie2 = new d3pie("pieChart", {
	"header": {
		"title": {
            "text" : sensor[1],
			"fontSize": 24,
			"font": "lucida sans"
		},
		"titleSubtitlePadding": 9
	},
	"size": {
		"canvasHeight": 300,
		"canvasWidth": 300,
		"pieOuterRadius": "90%",
        "pieInnerRadius": "50%"
	},
	"data": {
		"sortOrder": "value-desc",
		"content": [
			{
				"value": percent[0],
				"color": "#4caa4a"
			},
			{
				"value": 100-percent[1],
				"color": "#dd1c1c"
			}
		]
	},
	"labels": {
        "outer": {
			"format": "none"
		},
        "percentage": {
			"color": "#ffffff",
			"fontSize": 14,
            "font": "lucida sans"
		},
	},
	"effects": {
		"load": {
			"speed": 800
		},
	}
}); 
    
var pie3 = new d3pie("pieChart", {
	"header": {
		"title": {
            "text" : sensor[2],
			"fontSize": 24,
			"font": "lucida sans"
		},
		"titleSubtitlePadding": 9
	},
	"size": {
		"canvasHeight": 300,
		"canvasWidth": 300,
		"pieOuterRadius": "90%",
        "pieInnerRadius": "50%"
	},
	"data": {
		"sortOrder": "value-desc",
		"content": [
			{
				"value": percent[2],
				"color": "#4caa4a"
			},
			{
				"value": 100-percent[2],
				"color": "#dd1c1c"
			}
		]
	},
	"labels": {
        "outer": {
			"format": "none"
		},
        "percentage": {
			"color": "#ffffff",
			"fontSize": 14,
            "font": "lucida sans"
		},
	},
	"effects": {
		"load": {
			"speed": 800
		},
	}
});
    
var pie4 = new d3pie("pieChart", {
	"header": {
		"title": {
            "text" : sensor[3],
			"fontSize": 24,
			"font": "lucida sans"
		},
		"titleSubtitlePadding": 9
	},
	"size": {
		"canvasHeight": 300,
		"canvasWidth": 300,
		"pieOuterRadius": "90%",
        "pieInnerRadius": "50%"
	},
	"data": {
		"sortOrder": "value-desc",
		"content": [
			{
				"value": percent[3],
				"color": "#4caa4a"
			},
			{
				"value": 100-percent[3],
				"color": "#dd1c1c"
			}
		]
	},
	"labels": {
        "outer": {
			"format": "none"
		},
        "percentage": {
			"color": "#ffffff",
			"fontSize": 14,
            "font": "lucida sans"
		},
	},
	"effects": {
		"load": {
			"speed": 800
		},
	}
});
    
</script>
    
{% endblock %}